@page
@model CashmoreApp.Pages.Users.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.UserLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.UserEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.UserPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.UserAccessLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserAccessLevel)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="User.UserID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
